body {
    font-family: sans-serif;
  }

  .header {
    width: 100%;
    display: block;
    text-align: center;
  }

  .header .actions {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header .actions button {
    padding: 9px;
    border-radius: 6px;
    background: #36f;
    color: white;
    font-size: large;
    border: 0;
    cursor: pointer;
    margin-right: 6px;
  }

  .header .actions button.secondary {
    background: none;
    border: 1px solid #36f;
    color: #36f;
}

  .header .actions button:disabled {
    padding: 9px;
    border-radius: 6px;
    background: #ccc;
    color: #666;
    font-size: large;
    border: 0;
    cursor:default;
  }

  .pageContent {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url('./background.png');
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .modal {
    display: none;
    border:1px solid #ccc;
    border-left: 1px solid #D9D9D9;
    box-shadow: 0px 0px 10px 0px #00000040;
    background: #fff;
    padding: 24px;
    width: 600px;
    height: 400px;
  }

  .modal#successModal {
    width: 300px;
    height: 200px;
  }

  .modal.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    position: absolute;
    left: calc(50vw - 300px);
    top: calc(50vh - 200px);   
  }

  .modal#successModal.show {
    left: calc(50vw - 150px);
    top: calc(50vh - 100px);   
  }

  .modal .row {
    padding-top: 16px;
  }

  .modal .actions {
    display: flex;
    width: 100%;
    justify-content: right;
  }

  .modal .actions button {
    border-radius: 8px;
    background: var(--black-1000, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
  }

  .modal .actions button:disabled {
    background: #eee;
    border: #333 solid 1px;
    color: #999;
  }

  .modal .notifications.row {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .modal .notifications.row .text {
    font-size: 24px;
    color: #393;
  }

  .modal .headline {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .modal .headline .text {
    display: block;
    font-family: Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
  }

  .modal .subhead {
    display: flex;
    width: 100%;
  }

  .modal .subhead .text {
    color: var(--black-1000, #000);
    font-family: Sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }


  .cards {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-items: center;
    width:100%;
  }

  .card {
    height: 160px;
    width: 160px;
    border: 1px solid;
    border-radius: 12px;
    padding:16px;
    margin-right: 20px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: 1px solid var(--Gray-200, #EAECF0);

  }

  .card.selected {
    border: 2px solid #2F74FF;
  }
  
  .card :last-of-type {
    margin-right: 0px;
  }

  .card .header {
    display:flex;
    justify-content: center;
    width:100%;
    border-bottom:dashed 1px #222;
  }

  .card .header .logo img {
    max-height: 60px;
  }

  .card .header .text {
    font-size: 24px;
  }

  .card .content {
    display: flex;
    flex-flow: column;
    width:100%;
  }

  .card .content .row {
    display: block;
    padding-bottom: 4x;
  }

  .card .content .row .text {
    text-align: center;
    font-size: 18px;
  }

  #successModal .textContainer {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #succesModal .row {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

 
  #successModal .logo img {
    height: 60px;
  }


  #successModal .text {
    font-size: 24px;
    font-weight: 700;
  }

  #successModal .cta {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  #successModal .cta button {
    border-radius: 8px;
    background: var(--black-1000, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
    width:70px;
  }
